<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Hello Express</h2>
    <h2>Hello Express</h2>
    <p>Welcome to <%= title %></p>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
<!-- Ndodemon restarts the server automatically when we loads the changes -->
