<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap" rel="stylesheet">
  </head>
  <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li><a href="/tickets">Tickets</a></li>
              <li><a href="/stats">Stats</a></li>
              <li><a href="/register">register</a></li>
          </ul>
      </nav>
      <h1>Register New Account</h1>
    <form autocomplete="off" action="/register" method="post">
        <input type="text" name="username" placeholder="User Name" required>
        <input type="password" name="password" placeholder="Pasword" required>
        <input type="submit" name="submit" value="Register">
    </form>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
<!-- Ndodemon restarts the server automatically when we loads the changes -->
