button {
  outline: none;
  border: none; }

body {
  margin: 0; }

header {
  padding: 62px;
  background-color: #F1245F; }
  header * {
    color: white;
    text-align: center;
    cursor: default;
    margin: 0.12em 0;
    transition: all 1s;
    font-family: 'Stalemate',cursive;
    font-size: 142px;
    font-weight: normal; }
