body {
  margin: 0; }

header {
  padding: 62px;
  padding-bottom: 300px;
  background-color: #F1245F;
  overflow: hidden; }
  header h1 {
    color: white;
    text-align: center;
    cursor: default;
    transition: all 0.6s;
    position: relative;
    z-index: 10;
    font-family: 'Stalemate',cursive;
    font-size: 142px;
    font-weight: normal; }

h1:last-child {
  bottom: 280px;
  left: 20px;
  z-index: 0;
  opacity: 0.3;
  transition: all 0.6s; }

h1:first-child:hover {
  transform: scale(0.7);
  opacity: 0.3; }

h1:first-child:hover + h1 {
  transform: scale(0.7);
  opacity: 0.3; }
