$theme-primary :#1843BE;
$theme-secondary:#1C3C99;
$padding : 22px;


body{
    margin: 0;
    background-color: $theme-secondary;
}
header{
    $padding:62px;
    padding: $padding;
    background-color: $theme-primary;
    h1{
        color: white;
        text-align: center;
        cursor: default;
        transition: all 1s;
        font: {
            family:'Stalemate',cursive;
            size:142px;
            weight:normal;
        }
    }
}
h2{
    background-color: white;
    color: $theme-primary;
    padding: $padding 0;
    margin-top: 0;
    text-align: center;
    font: {
        family:'Stalemate',cursive;
        size:102px;
        weight:normal;
    }
}
