body {
  margin: 0; }

header {
  padding: 62px 12px;
  overflow: hidden;
  background-color: #F1245F; }
  header h1 {
    color: white;
    text-align: center;
    transition: font-size 1s;
    font-family: 'Stalemate',cursive;
    font-size: 78px;
    font-weight: normal; }
