body{
    margin: 0;
}
header{
    padding: 62px;
    overflow: hidden;
    background-color: #F1245F;
    h1{
        color: white;
        text-align: center;
        cursor: default;
        transition: all 1s;
        font: {
            family:'Stalemate',cursive;
            size:142px;
            weight:normal;
        }

        &:hover{
            transform: scale(1.2);
        }
        @media screen and (max-width: 1200px){
            font-size: 88px;

        }
        @media screen and (max-width: 800px){
            font-size: 52px;

        }
    }
}
p{
    height: 100px;
    width: 100px;
    background-color: yellow;
    // overflow: hidden;
    // overflow: scroll;
}
