body {
  margin: 0; }

header {
  padding: 62px;
  overflow: hidden;
  background-color: #F1245F; }
  header h1 {
    color: white;
    text-align: center;
    cursor: default;
    transition: all 1s;
    font-family: 'Stalemate',cursive;
    font-size: 142px;
    font-weight: normal; }
    header h1:hover {
      transform: scale(1.2); }
    @media screen and (max-width: 1200px) {
      header h1 {
        font-size: 88px; } }
    @media screen and (max-width: 800px) {
      header h1 {
        font-size: 52px; } }

p {
  height: 100px;
  width: 100px;
  background-color: yellow; }
