body {
  background-image: url("bg.jpg");
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Stalemate', cursive; }

p {
  font-size: 50px;
  font-weight: normal;
  width: 74%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 214px;
  text-align: center;
  color: white; }
