<%- include('partials/header.ejs'); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/example">See An Example</a><br>
    <a href="/restful">See The Architecture</a><br>
    <a href="/status-code">See The HTTP Status Code</a><br>
    <a href="/countries" class="giant">See All API Countries</a>

<%- include('partials/footer.ejs'); %>
