<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    
    <div>
        <h1 class="h1-anim transition">Hello, World</h1>
        <p class="transition">Welcome to <%= title %></p>
    </div>
    
    
    <script src="/javascripts/script.js"></script>
</body>
</html>
