button {
  outline: none;
  border: none;
  border-radius: 1000px;
  padding: 12px 144px;
  margin: 0 auto;
  display: block;
  width: max-content;
  font-family: 'Stalemate',cursive;
  font-size: 56px;
  color: #A6F55F;
  background-color: white;
  transition: all 0.4s; }
  button:hover {
    transform: scale(1.2); }

body {
  margin: 0; }

header {
  padding: 62px;
  background-color: #A6F55F; }
  header h1 {
    color: white;
    text-align: center;
    cursor: default;
    transition: all 1s;
    font-family: 'Stalemate',cursive;
    font-size: 142px;
    font-weight: normal; }
